html, body {
  height: 100%;
  color: #fff;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

#present, #future {
  bottom: 234px;
  position: absolute;
  top: 0;
  z-index: 5;
}

#present {
  left: 0;
  right: 50%;
  border-right: 4px solid #555;
}

#future {
  left: 50%;
  right: 0;
  border-left: 4px solid #555;
}

#notes {
  background: #eee;
  border-top: 8px solid #555;
  bottom: 0;
  color: #444;
  font-size: 30px;
  height: 226px;
  left: 0;
  padding: 0 240px 0 20px;
  position: absolute;
  right: 0;
  overflow: auto;
}

#time {
  background: #888;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0;
  font-size: 40px;
  font-weight: bold;
  height: 52px;
  line-height: 52px;
  right: 20px;
  position: absolute;
  text-align: center;
  width: 200px;
}

#timer {
  display: none;
}

iframe {
  border: none;
  height: 100%;
  pointer-events: none;
  width: 100%;
}

#slideidx,
#nextslideidx, 
#slidecount {
  background: #888;
  font-size: 40px;
  font-weight: bold;
  height: 52px;
  line-height: 52px;
  margin: 0;
  position: absolute;
  text-align: center;
  z-index: 10;
}

#slideidx,
#nextslideidx {
  border-bottom: 4px solid #555;
  bottom: 230px;
  padding: 0 10px;
}

#slideidx {
  border-right: 4px solid #555;
  border-top-left-radius: 10px;
  cursor: pointer;
  right: 50%;
}

#nextslideidx {
  border-left: 4px solid #555;
  border-top-right-radius: 10px;
  left: 50%;
}

#slidecount {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 4px solid #555;
  bottom: 174px;
  width: 200px;
  right: 20px;
}

#popup-button {
  bottom: 88px;
  background: #888;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  height: 52px;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  width: 200px;
  z-index: 10;
}
